<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (user) {%>
    <h1>Welcome back <%= user.username %></h1>
    <div><a href="/create-message">Create a new message</a></div>
    <div><a href="/log-out">Log out</a></div>
    <h2>Messages</h2>
    <% if (user.isAdmin) { %>
    <ul>
      <% messages.forEach(function(message) { %>
      <li>
        <%= message.user + " " + message.date + " - " + message.text%>
        <form action="/delete-message" method="POST">
          <input type="hidden" name="msgid" value="<%= message._id %>" />
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
    <% } %> <% if (!user.isAdmin && user.isMember) { %>
    <ul>
      <% messages.forEach(function(message) { %>
      <li><%= message.user + " " + message.date + " - " + message.text%></li>
      <% }); %>
    </ul>
    <% } else { %> <% } %> <% if (!user.isAdmin && !user.isMember) { %>
    <ul>
      <% messages.forEach(function(message) { %>
      <li><%=message.user + " " + message.date%></li>
      <% }); %> <% } %>
    </ul>
    <div>
      <a href="member-sign-up">Member sign up (must be signed in already)</a>
    </div>
    <div>
      <a href="admin-sign-up">Admin sign up (must be signed in already)</a>
    </div>
    <% } else {%>
    <h1>Log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" />
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" />
      <button>Log in</button>
    </form>
    <br />
    <div><a href="/sign-up">Create an account</a></div>
    <br />
    <div>
      Note - Only members can see messages, and only admins can delete them!
    </div>
    <%}%>
  </body>
</html>
